prometheus:
  prometheusSpec:
    resources:
      requests:
        cpu: 250m        
        memory: 1Gi      
      limits:
        cpu: 500m
        memory: 2Gi
    
    retention: 3d        
    retentionSize: "5GB"
    
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: neo4j-gp3
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi  
    
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    serviceMonitorNamespaceSelector: {}
    podMonitorNamespaceSelector: {}

grafana:
  enabled: true
  adminPassword: "StagingPass123!"
  
  persistence:
    enabled: true
    storageClassName: neo4j-gp3
    size: 2Gi  
  
  service:
    type: LoadBalancer
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
      service.beta.kubernetes.io/aws-load-balancer-internal: "true"
  
  resources:
    requests:
      cpu: 100m      
      memory: 256Mi  
    limits:
      cpu: 250m
      memory: 512Mi
  
  sidecar:
    dashboards:
      enabled: false
    datasources:
      enabled: false

alertmanager:
  enabled: false

nodeExporter:
  enabled: true
  resources:
    requests:
      cpu: 50m
      memory: 50Mi

kubeStateMetrics:
  enabled: true
  resources:
    requests:
      cpu: 50m
      memory: 50Mi
