apiVersion: "clickhouse.altinity.com/v1"
kind: "ClickHouseInstallation"
metadata:
  name: {{ .Values.clusterName }}
spec:
  templates:
    podTemplates:
      - name: clickhouse-pod-template
        spec:
          {{- with .Values.clickhouse.tolerations }}
          tolerations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.clickhouse.nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          containers:
            - name: clickhouse
              image: {{ .Values.clickhouse.image | quote }}
              ports:
                - name: metrics
                  containerPort: 9363
                  protocol: TCP
              volumeMounts:
                - name: clickhouse-storage
                  mountPath: /var/lib/clickhouse
    volumeClaimTemplates:
      - name: clickhouse-storage
        reclaimPolicy: Retain
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: {{ .Values.clickhouse.storage.size }}
          storageClassName: {{ .Values.clickhouse.storage.storageClassName }}
  configuration:
    settings:
      prometheus/endpoint: /metrics
      prometheus/port: 9363
      prometheus/metrics: true
      prometheus/events: true
      prometheus/asynchronous_metrics: true
      trace_log/enabled: false
      metric_log/enabled: false
      asynchronous_metric_log/enabled: false
      query_log/partition_by: toYYYYMM(event_date)
      query_log/ttl: "event_date + INTERVAL 3 DAY"
      query_thread_log/enabled: false
      part_log/partition_by: toYYYYMM(event_date)
      part_log/ttl: "event_date + INTERVAL 3 DAY"
      text_log/enabled: false
      session_log/enabled: false
    profiles:
      default/max_memory_usage: 8000000000
      default/max_memory_usage_for_user: 8000000000
      default/max_memory_usage_for_all_queries: 16000000000
      default/memory_overcommit_ratio_denominator: 2
    users:
      default/password_sha256_hex: {{ .Values.users.defaultPasswordSha256 | quote }}
      default/networks/ip: "::/0"
      admin/password_sha256_hex: {{ .Values.users.adminPasswordSha256 | quote }}
      admin/networks/ip: "::/0"
      admin/profile: default
      admin/quota: default
    zookeeper:
      nodes:
        - host: keeper-clickhouse-keeper.{{ .Release.Namespace }}.svc.cluster.local
          port: 2181
    clusters:
      - name: {{ .Values.clusterName }}
        secret:
          auto: "true"
        layout:
          shardsCount: {{ .Values.clickhouse.shardsCount }}
          replicasCount: {{ .Values.clickhouse.replicasCount }}
        templates:
          podTemplate: clickhouse-pod-template