apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-ingresses
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/opengig/cortex.git
    targetRevision: HEAD
    path: prod/monitoring/helm/monitoring-ingresses
    helm:
      releaseName: monitoring-ingresses
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
      - CreateNamespace=true
  ignoreDifferences:
    - group: ""
      kind: Service
      jsonPointers:
        - /metadata/annotations
        - /metadata/finalizers