apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-ingresses
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/kshitij-heizen/cortex.git
    targetRevision: HEAD
    path: gitops/apps/monitoring
    directory:
      recurse: false
      include: "*.yaml"
      exclude: "application.yaml|ingresses-app.yaml"

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true