# Basic auth secret for Prometheus
# Username: admin, Password: DemoPass123!
# Generate: htpasswd -nb admin 'DemoPass123!' | base64
apiVersion: v1
kind: Secret
metadata:
  name: prometheus-basic-auth
  namespace: monitoring
type: Opaque
data:
  auth: YWRtaW46JGFwcjEkdkc5Wm1KVGckT3VhVS5xLkd6NHJPeHNrRWQxeVlYMAo=