prometheus:
  prometheusSpec:
    resources:
      requests:
        cpu: 250m
        memory: 1Gi
      limits:
        cpu: 1000m
        memory: 3Gi
    retention: 10d
    retentionSize: "18GB"
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: gp2
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi
    
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    serviceMonitorNamespaceSelector: {}
    podMonitorNamespaceSelector: {}

grafana:
  enabled: true
  adminPassword: "Prod_Grafana_Pass123!"
  
  persistence:
    enabled: true
    storageClassName: gp2
    size: 2Gi
  
  service:
    type: ClusterIP
    port: 80
  
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi

  sidecar:
    dashboards:
      enabled: false
    datasources:
      enabled: false

alertmanager:
  enabled: false

nodeExporter:
  enabled: true
  resources:
    requests:
      cpu: 50m
      memory: 50Mi
  
  tolerations:
    - key: "workload"
      operator: "Equal"
      value: "database"
      effect: "NoSchedule"
    - key: "status"
      operator: "Equal"
      value: "decommissioning"
      effect: "NoSchedule"

kubeStateMetrics:
  enabled: true
  resources:
    requests:
      cpu: 50m
      memory: 50Mi