apiVersion: milvus.io/v1beta1
kind: Milvus
metadata:
  name: {{ .Values.org_id }}
  namespace: {{ include "milvus-tenant.namespace" . }}
  labels:
    {{- include "milvus-tenant.labels" . | nindent 4 }}
spec:
  mode: {{ .Values.milvus.mode }}
  
  config:
    milvus:
      log:
        level: {{ .Values.milvus.config.logLevel }}
      common:
        security:
          authorizationEnabled: {{ .Values.milvus.config.authEnabled }}
  
  components:
    disableMetric: false
    
    {{- if .Values.nodeSelector }}
    nodeSelector:
      {{- toYaml .Values.nodeSelector | nindent 6 }}
    {{- end }}
    {{- if .Values.tolerations }}
    tolerations:
      {{- toYaml .Values.tolerations | nindent 6 }}
    {{- end }}
    
    proxy:
      replicas: {{ .Values.milvus.components.proxy.replicas }}
      resources:
        {{- toYaml .Values.milvus.components.proxy.resources | nindent 8 }}
      serviceType: {{ .Values.milvus.components.proxy.serviceType }}
    
    queryNode:
      replicas: {{ .Values.milvus.components.queryNode.replicas }}
      resources:
        {{- toYaml .Values.milvus.components.queryNode.resources | nindent 8 }}
    
    dataNode:
      replicas: {{ .Values.milvus.components.dataNode.replicas }}
      resources:
        {{- toYaml .Values.milvus.components.dataNode.resources | nindent 8 }}
    
    indexNode:
      replicas: {{ .Values.milvus.components.indexNode.replicas }}
      resources:
        {{- toYaml .Values.milvus.components.indexNode.resources | nindent 8 }}
    
    mixCoord:
      replicas: {{ .Values.milvus.components.mixCoord.replicas }}
      resources:
        {{- toYaml .Values.milvus.components.mixCoord.resources | nindent 8 }}

  dependencies:
    etcd:
      inCluster:
        deletionPolicy: {{ .Values.milvus.dependencies.etcd.deletionPolicy }}
        pvcDeletion: {{ .Values.milvus.dependencies.etcd.pvcDeletion }}
        values:
          replicaCount: {{ .Values.milvus.dependencies.etcd.replicaCount }}
          {{- if .Values.nodeSelector }}
          nodeSelector:
            {{- toYaml .Values.nodeSelector | nindent 12 }}
          {{- end }}
          {{- if .Values.tolerations }}
          tolerations:
            {{- toYaml .Values.tolerations | nindent 12 }}
          {{- end }}
          persistence:
            enabled: true
            storageClass: {{ include "milvus-tenant.storageClassName" . }}
            size: {{ .Values.milvus.dependencies.etcd.storageSize }}
          resources:
            {{- toYaml .Values.milvus.dependencies.etcd.resources | nindent 12 }}
    
    storage:
      inCluster:
        deletionPolicy: {{ .Values.milvus.dependencies.minio.deletionPolicy }}
        pvcDeletion: {{ .Values.milvus.dependencies.minio.pvcDeletion }}
        values:
          mode: {{ .Values.milvus.dependencies.minio.mode }}
          replicas: {{ .Values.milvus.dependencies.minio.replicas }}
          {{- if .Values.nodeSelector }}
          nodeSelector:
            {{- toYaml .Values.nodeSelector | nindent 12 }}
          {{- end }}
          {{- if .Values.tolerations }}
          tolerations:
            {{- toYaml .Values.tolerations | nindent 12 }}
          {{- end }}
          persistence:
            enabled: true
            storageClass: {{ include "milvus-tenant.storageClassName" . }}
            size: {{ .Values.milvus.dependencies.minio.storageSize }}
          resources:
            {{- toYaml .Values.milvus.dependencies.minio.resources | nindent 12 }}
    
    msgStreamType: {{ .Values.milvus.dependencies.msgStream.type }}
    pulsar:
      inCluster:
        deletionPolicy: {{ .Values.milvus.dependencies.pulsar.deletionPolicy }}
        pvcDeletion: {{ .Values.milvus.dependencies.pulsar.pvcDeletion }}
        values:
          {{- if .Values.nodeSelector }}
          nodeSelector:
            {{- toYaml .Values.nodeSelector | nindent 12 }}
          {{- end }}
          {{- if .Values.tolerations }}
          tolerations:
            {{- toYaml .Values.tolerations | nindent 12 }}
          {{- end }}
          components:
            autorecovery: false
          proxy:
            replicaCount: {{ .Values.milvus.dependencies.pulsar.proxy.replicas }}
            resources:
              {{- toYaml .Values.milvus.dependencies.pulsar.proxy.resources | nindent 14 }}
          bookkeeper:
            replicaCount: {{ .Values.milvus.dependencies.pulsar.bookkeeper.replicas }}
            resources:
              {{- toYaml .Values.milvus.dependencies.pulsar.bookkeeper.resources | nindent 14 }}
            volumes:
              journal:
                size: {{ .Values.milvus.dependencies.pulsar.bookkeeper.journalSize }}
                storageClassName: {{ include "milvus-tenant.storageClassName" . }}
              ledgers:
                size: {{ .Values.milvus.dependencies.pulsar.bookkeeper.ledgersSize }}
                storageClassName: {{ include "milvus-tenant.storageClassName" . }}
          zookeeper:
            replicaCount: {{ .Values.milvus.dependencies.pulsar.zookeeper.replicas }}
            resources:
              {{- toYaml .Values.milvus.dependencies.pulsar.zookeeper.resources | nindent 14 }}
            volumes:
              data:
                size: {{ .Values.milvus.dependencies.pulsar.zookeeper.storageSize }}
                storageClassName: {{ include "milvus-tenant.storageClassName" . }}
          broker:
            replicaCount: {{ .Values.milvus.dependencies.pulsar.broker.replicas }}
            resources:
              {{- toYaml .Values.milvus.dependencies.pulsar.broker.resources | nindent 14 }}
