apiVersion: v1
kind: ConfigMap
metadata:
  name: cortex-ingestion-config
  namespace: cortex-ingestion
  labels:
    app.kubernetes.io/name: cortex-ingestion
    app.kubernetes.io/component: config
data:
  ENV: "prod"
  LOG_LEVEL: "INFO"
  AWS_REGION: "us-east-1"
  ORG: "cortexai"

  FALKORDB_HOST: "falkordb-cortex-tenant-1-falkordb-falkordb.falkordb-cortex.svc.cluster.local"
  FALKORDB_PORT: "6379"
  DB_CONNECTIONS: "80"
  FALKOR_ORG_SPECIFIC_CLUSTER: "true"

  KAFKA_BOOTSTRAP_SERVERS: ""
  KAFKA_TOPIC: "document-ingestion"
  KAFKA_GROUP_ID: "ingestion-service-group"
  KAFKA_SECURITY_PROTOCOL: "SASL_SSL"
  KAFKA_SASL_MECHANISM: "AWS_MSK_IAM"
  KAFKA_AUTO_OFFSET_RESET: "earliest"

  STORAGE_BACKEND: "s3"
  MINIO_ENDPOINT: "localhost:9000"
  MINIO_SECURE: "false"
  MINIO_BUCKET: "documents"

  ENABLE_VESPA: "false"
  VESPA_CONFIGSERVER_URL: ""
  VESPA_TENANT: ""
  VESPA_APP_NAME: ""

  ENABLE_MILVUS: "true"
  MILVUS_URI: "cortexai-milvus.milvus-cortexai.svc.cluster.local:19530"
  MILVUS_DEFAULT_PARTITIONS: "64"

  VECTOR_PUSH_URL: "https://vector.usecortex.opengig.work/"

  CORTEX_API_KEYS_TABLE_NAME: "cortex_user_api_keys_prod"