vector:
  role: "Stateless-Aggregator"
  replicas: 2

  customConfig:
    api:
      enabled: true
      address: "0.0.0.0:8687"

    sources:
      app_logs:
        type: http_server
        address: "0.0.0.0:8686"
        decoding:
          codec: json
        acknowledge_request: true

    sinks:
      clickhouse_logs:
        type: clickhouse
        inputs:
          - app_logs
        endpoint: "http://clickhouse-cluster01.clickhouse.svc.cluster.local:8123"
        database: cortex
        table: cortex_logs_distributed
        compression: gzip
        skip_unknown_fields: true
        batch:
          max_bytes: 10485760
          timeout_secs: 5
        buffer:
          type: disk
          max_size: 536870912
          when_full: block
        auth:
          strategy: basic
          user: default
          password: "gdfsgrt3t2234fd"

  service:
    enabled: true
    ports:
      - name: http-logs
        port: 8686
        targetPort: 8686
        protocol: TCP
      - name: api
        port: 8687
        targetPort: 8687
        protocol: TCP

  ingress:
    enabled: true
    className: nginx-inc
    hosts:
      - host: vector.usecortex.opengig.work
        paths:
          - path: /
            pathType: Prefix
            port:
              number: 8686
    tls:
      - hosts:
          - vector.usecortex.opengig.work
        secretName: vector-tls
    annotations:
      nginx.org/proxy-connect-timeout: "60s"
      nginx.org/proxy-read-timeout: "60s"
      nginx.org/client-max-body-size: "50m"
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      acme.cert-manager.io/http01-edit-in-place: "true"
      nginx.org/redirect-to-https: "false"
      

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 1Gi

  persistence:
    enabled: true
    size: 2Gi