# nginx-prod-values.yaml
controller:
  service:
    # 1. AWS NLB Configuration
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
      service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
      service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
    
    # 2. Open the Ports on AWS (The "Door")
    # We must list ALL ports here: HTTP, HTTPS, and FalkorDB
    ports:
      http: 80
      https: 443
      falkordb: 6379
    
    # Map them to the container ports
    targetPorts:
      http: http
      https: https
      falkordb: 6379

tcp:
  "6379": "falkordb/falkordb-prod-falkordb-falkordb:6379"