# AWS Route53 DNS-01 ClusterIssuer
#
# Prerequisites:
#   1. Create IAM User with Route53 permissions:
#      {
#        "Version": "2012-10-17",
#        "Statement": [
#          {
#            "Effect": "Allow",
#            "Action": "route53:GetChange",
#            "Resource": "arn:aws:route53:::change/*"
#          },
#          {
#            "Effect": "Allow",
#            "Action": [
#              "route53:ChangeResourceRecordSets",
#              "route53:ListResourceRecordSets"
#            ],
#            "Resource": "arn:aws:route53:::hostedzone/<HOSTED_ZONE_ID>"
#          },
#          {
#            "Effect": "Allow",
#            "Action": "route53:ListHostedZonesByName",
#            "Resource": "*"
#          }
#        ]
#      }
#
#   2. Create the secret:
#      kubectl create secret generic route53-credentials \
#        --namespace cert-manager \
#        --from-literal=access-key-id=<AWS_ACCESS_KEY_ID> \
#        --from-literal=secret-access-key=<AWS_SECRET_ACCESS_KEY>
#
# Usage:
#   kubectl apply -f route53.yaml
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-dns01
spec:
  acme:
    email: cloud@usecortex.ai  # UPDATE: Your email
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-dns01-key
    solvers:
    - dns01:
        route53:
          region: us-east-1  # UPDATE: Your AWS region
          accessKeyIDSecretRef:
            name: route53-credentials
            key: access-key-id
          secretAccessKeySecretRef:
            name: route53-credentials
            key: secret-access-key
          # Optional: If using assumed role instead of access keys
          # role: arn:aws:iam::ACCOUNT_ID:role/cert-manager-route53
