[api]
enabled = true
address = "0.0.0.0:8687"

[sources.app_logs]
type = "http_server"
address = "0.0.0.0:8686"
decoding.codec = "json"
acknowledge_request = true

[sinks.clickhouse_logs]
type = "clickhouse"
inputs = ["app_logs"]
endpoint = "http://clickhouse-cluster01.clickhouse.svc.cluster.local:8123"
database = "cortex"
table = "cortex_logs_distributed"
compression = "gzip"
skip_unknown_fields = true

[sinks.clickhouse_logs.batch]
max_bytes = 10485760
timeout_secs = 5

[sinks.clickhouse_logs.buffer]
type = "disk"
max_size = 536870912
when_full = "block"

[sinks.clickhouse_logs.auth]
strategy = "basic"
user = "default"
password = "gdfsgrt3t2234fd"

[sinks.console]
type = "console"
inputs = ["app_logs"]
encoding.codec = "json"